Data preperation on titanic database

Link top database - https://www.kaggle.com/datasets/pavlofesenko/titanic-extended

In [1]:
# Imports

import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
# Setting up data

data = "Dataset/archive/full.csv"

# Import the csv to dataframe

df = pd.read_csv(data)

df.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0.0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,...,S,1207.0,"Shorney, Mr. Charles Joseph",22.0,"Heron's Ghyll, East Sussex, England",Southampton,"New York, US",NaN,240{?}MB,3.0
96,97,0.0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,...,C,133.0,"Goldschmidt, Mr. George B.",71.0,"New York, New York, US",Cherbourg,"New York, New York, US",NaN,NaN,1.0
97,98,1.0,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,...,C,140.0,"Greenfield, Mr. William Bertram",23.0,"New York, New York, US",Cherbourg,"New York, New York, US",7,NaN,1.0
98,99,1.0,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,...,S,400.0,"Doling, Mrs. Ada Julia (née Bone)",34.0,"Southampton, Hampshire, England, UK",Southampton,New York City,?,NaN,2.0
99,100,0.0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,...,S,472.0,"Kantor, Mr. Sinai",34.0,"Vitebsk, Russian Empire",Southampton,"Bronx, New York, US",NaN,283MB,2.0

Data Preprocessing

In [4]:
df.shape

(1309, 21)

In [5]:
# Removing Columns - Name, WikiId, Name_wiki, age, body, Ticket, Cabin

df2 = df.drop(["Age", "Name", "WikiId", "Name_wiki", "Body", "Ticket", "Cabin"], axis='columns')

df2.shape

(1309, 14)

In [7]:
# Column information - data type, no of different values

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Sex          1309 non-null   object
 4   SibSp        1309 non-null   int64
 5   Parch        1309 non-null   int64
 6   Fare         1308 non-null   float64
 7   Embarked     1307 non-null   object
 8   Age_wiki     1302 non-null   float64
 9   Hometown     1304 non-null   object
 10  Boarded      1304 non-null   object
 11  Destination  1304 non-null   object
 12  Lifeboat     502 non-null    object
 13  Class        1304 non-null   float64
dtypes: float64(4), int64(4), object(6)
memory usage: 143.3+ KB

In [8]:
# Sorting missing values

# Checking null values
df2.isnull().any()


# Get mean value of Fare, Class
df2[["Fare", "Class"]].fillna(df2[["Fare", "Class"]].mean(numeric_only=True), inplace=True)

# Removing Rows of null for survived, Age, Cabin, Embarked, Hometown, Boarded, Lifeboat
df2.replace(" ", np.nan)
df2.replace("?", np.nan)
df3 = df2.dropna()
df3.shape

C:\Users\jakeh\AppData\Local\Temp\ipykernel_11100\3897093856.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[["Fare", "Class"]].fillna(df2[["Fare", "Class"]].mean(numeric_only=True), inplace=True)

(343, 14)

In [9]:
# Check duplicates
df3.duplicated()

1      False
2      False
3      False
8      False
9      False
       ...
875    False
879    False
880    False
887    False
889    False
Length: 343, dtype: bool

In [10]:
# Set numeric values for - Hometown, Boarded, Destination - using scikit-learn label encoder
label_encoder = preprocessing.LabelEncoder()

df3["Hometown"] = label_encoder.fit_transform(df3["Hometown"])
df3["Boarded"] = label_encoder.fit_transform(df3["Boarded"])
df3["Destination"] = label_encoder.fit_transform(df3["Destination"])
df3["Sex"] = label_encoder.fit_transform(df3["Sex"])
df3["Embarked"] = label_encoder.fit_transform(df3["Embarked"])
df3["Lifeboat"] = label_encoder.fit_transform(df3["Lifeboat"])

df3.head(10)

C:\Users\jakeh\AppData\Local\Temp\ipykernel_11100\2807720947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Hometown"] = label_encoder.fit_transform(df3["Hometown"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_11100\2807720947.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Boarded"] = label_encoder.fit_transform(df3["Boarded"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_11100\2807720947.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Destination"] = label_encoder.fit_transform(df3["Destination"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_11100\2807720947.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Sex"] = label_encoder.fit_transform(df3["Sex"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_11100\2807720947.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Embarked"] = label_encoder.fit_transform(df3["Embarked"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_11100\2807720947.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Lifeboat"] = label_encoder.fit_transform(df3["Lifeboat"])

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Class
1,2,1.0,1,0,1,0,71.2833,0,35.0,128,0,73,11,1.0
2,3,1.0,3,0,0,0,7.9250,2,26.0,85,2,72,6,3.0
3,4,1.0,1,0,1,0,53.1000,2,35.0,146,2,89,21,1.0
8,9,1.0,3,0,0,2,11.1333,2,26.0,151,2,92,7,3.0
9,10,1.0,2,0,1,0,30.0708,0,14.0,185,0,18,17,2.0
10,11,1.0,3,0,1,1,16.7000,2,4.0,121,2,87,4,3.0
11,12,1.0,1,0,0,0,26.5500,2,61.0,184,2,113,15,1.0
15,16,1.0,2,0,0,0,16.0000,2,56.0,108,2,84,4,2.0
17,18,1.0,2,1,0,0,13.0000,2,23.0,71,2,17,5,2.0
19,20,1.0,3,0,0,0,7.2250,0,22.0,160,0,65,20,3.0

AI Model

In [11]:
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [12]:
df3.head(2)

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Class
1,2,1.0,1,0,1,0,71.2833,0,35.0,128,0,73,11,1.0
2,3,1.0,3,0,0,0,7.9250,2,26.0,85,2,72,6,3.0

In [18]:
# Splitting the data

x = df3.drop(["Survived"], axis=1)
y = df3["Survived"]

In [65]:
# Building the model layers
model = Sequential()
model.add(Dense(12, input_shape=(13,), activation="tanh"))
model.add(Dense(12, activation="tanh"))
model.add(Dense(1, activation="tanh"))

# compile model
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Fit model
model.fit(x, y, epochs=50, batch_size=10)

Epoch 1/50

c:\Users\jakeh\Documents\Computing\Titanic\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

35/35 ━━━━━━━━━━━━━━━━━━━━ 1s 589us/step - accuracy: 0.6653 - loss: 0.6000
Epoch 2/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9943 - loss: 0.1304
Epoch 3/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9822 - loss: 0.1117
Epoch 4/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9925 - loss: 0.0679
Epoch 5/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9807 - loss: 0.0998
Epoch 6/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9919 - loss: 0.0555
Epoch 7/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9848 - loss: 0.0799
Epoch 8/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9908 - loss: 0.0556
Epoch 9/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9859 - loss: 0.0743
Epoch 10/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9880 - loss: 0.0658
Epoch 11/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9797 - loss: 0.0991
Epoch 12/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9933 - loss: 0.0429
Epoch 13/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9869 - loss: 0.0669
Epoch 14/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9738 - loss: 0.1207
Epoch 15/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9778 - loss: 0.1032
Epoch 16/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9851 - loss: 0.0742
Epoch 17/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9913 - loss: 0.0481
Epoch 18/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9864 - loss: 0.0688
Epoch 19/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9769 - loss: 0.1073
Epoch 20/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9945 - loss: 0.0346
Epoch 21/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - accuracy: 0.9910 - loss: 0.0490
Epoch 22/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9931 - loss: 0.0417
Epoch 23/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9847 - loss: 0.0733
Epoch 24/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9889 - loss: 0.0574
Epoch 25/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9837 - loss: 0.0763
Epoch 26/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9958 - loss: 0.0286
Epoch 27/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9941 - loss: 0.0353
Epoch 28/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9877 - loss: 0.0590
Epoch 29/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9891 - loss: 0.0532
Epoch 30/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9944 - loss: 0.0331
Epoch 31/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9930 - loss: 0.0388
Epoch 32/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9815 - loss: 0.0791
Epoch 33/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9896 - loss: 0.0505
Epoch 34/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9865 - loss: 0.0634
Epoch 35/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - accuracy: 0.9872 - loss: 0.0597
Epoch 36/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9766 - loss: 0.1131
Epoch 37/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9941 - loss: 0.0347
Epoch 38/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9864 - loss: 0.0700
Epoch 39/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9906 - loss: 0.0497
Epoch 40/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9822 - loss: 0.0797
Epoch 41/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9910 - loss: 0.0487
Epoch 42/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9875 - loss: 0.0595
Epoch 43/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9847 - loss: 0.0732
Epoch 44/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9899 - loss: 0.0519
Epoch 45/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9818 - loss: 0.0823
Epoch 46/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9864 - loss: 0.0629
Epoch 47/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9912 - loss: 0.0454
Epoch 48/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9940 - loss: 0.0353
Epoch 49/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9907 - loss: 0.0471
Epoch 50/50
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9828 - loss: 0.0751

In [67]:
# Evaluting the model
_, accuracy = model.evaluate(x, y)
print('Accuracy: %.2f' % (accuracy*100))

11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.9915 - loss: 0.0436
Accuracy: 98.83