Data preperation on titanic database

Link top database - https://www.kaggle.com/datasets/pavlofesenko/titanic-extended

In [8]:
# Imports

import pandas as pd
import numpy as np
from sklearn import preprocessing

In [9]:
# Setting up data

data = "Dataset/archive/full.csv"

# Import the csv to dataframe

df = pd.read_csv(data)

df.head(100)

    PassengerId  Survived  Pclass  ... Lifeboat      Body  Class
0             1       0.0       3  ...      NaN       NaN    3.0
1             2       1.0       1  ...        4       NaN    1.0
2             3       1.0       3  ...      14?       NaN    3.0
3             4       1.0       1  ...        D       NaN    1.0
4             5       0.0       3  ...      NaN       NaN    3.0
..          ...       ...     ...  ...      ...       ...    ...
95           96       0.0       3  ...      NaN  240{?}MB    3.0
96           97       0.0       1  ...      NaN       NaN    1.0
97           98       1.0       1  ...        7       NaN    1.0
98           99       1.0       2  ...        ?       NaN    2.0
99          100       0.0       2  ...      NaN     283MB    2.0

[100 rows x 21 columns]

Data Preprocessing

In [10]:
df.shape

(1309, 21)

In [11]:
# Removing Columns - Name, WikiId, Name_wiki, age, body, Ticket, Cabin

df2 = df.drop(["Age", "Name", "WikiId", "Name_wiki", "Body", "Ticket", "Cabin"], axis='columns')

df2.shape

(1309, 14)

In [12]:
# Column information - data type, no of different values

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Sex          1309 non-null   object
 4   SibSp        1309 non-null   int64
 5   Parch        1309 non-null   int64
 6   Fare         1308 non-null   float64
 7   Embarked     1307 non-null   object
 8   Age_wiki     1302 non-null   float64
 9   Hometown     1304 non-null   object
 10  Boarded      1304 non-null   object
 11  Destination  1304 non-null   object
 12  Lifeboat     502 non-null    object
 13  Class        1304 non-null   float64
dtypes: float64(4), int64(4), object(6)
memory usage: 143.3+ KB

In [14]:
# Sorting missing values

# Checking null values
df2.isnull().any()


# Get mean value of Fare, Class
df2[["Fare", "Class"]].fillna(df2[["Fare", "Class"]].mean(numeric_only=True), inplace=True)

# Removing Rows of null for survived, Age, Cabin, Embarked, Hometown, Boarded, Lifeboat
df2.replace(" ", np.nan)
df2.replace("?", np.nan)
df3 = df2.dropna()
df3.shape

C:\Users\jakeh\AppData\Local\Temp\ipykernel_25316\3897093856.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[["Fare", "Class"]].fillna(df2[["Fare", "Class"]].mean(numeric_only=True), inplace=True)

(343, 14)

In [15]:
# Check duplicates
df3.duplicated()

1      False
2      False
3      False
8      False
9      False
       ...
875    False
879    False
880    False
887    False
889    False
Length: 343, dtype: bool

In [16]:
# Set numeric values for - Hometown, Boarded, Destination - using scikit-learn label encoder
label_encoder = preprocessing.LabelEncoder()

df3["Hometown"] = label_encoder.fit_transform(df3["Hometown"])
df3["Boarded"] = label_encoder.fit_transform(df3["Boarded"])
df3["Destination"] = label_encoder.fit_transform(df3["Destination"])
df3["Sex"] = label_encoder.fit_transform(df3["Sex"])
df3["Embarked"] = label_encoder.fit_transform(df3["Embarked"])
df3["Lifeboat"] = label_encoder.fit_transform(df3["Lifeboat"])

df3.head(10)

C:\Users\jakeh\AppData\Local\Temp\ipykernel_25316\2807720947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Hometown"] = label_encoder.fit_transform(df3["Hometown"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_25316\2807720947.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Boarded"] = label_encoder.fit_transform(df3["Boarded"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_25316\2807720947.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Destination"] = label_encoder.fit_transform(df3["Destination"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_25316\2807720947.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Sex"] = label_encoder.fit_transform(df3["Sex"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_25316\2807720947.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Embarked"] = label_encoder.fit_transform(df3["Embarked"])
C:\Users\jakeh\AppData\Local\Temp\ipykernel_25316\2807720947.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Lifeboat"] = label_encoder.fit_transform(df3["Lifeboat"])

    PassengerId  Survived  Pclass  Sex  ...  Boarded  Destination  Lifeboat  Class
1             2       1.0       1    0  ...        0           73        11    1.0
2             3       1.0       3    0  ...        2           72         6    3.0
3             4       1.0       1    0  ...        2           89        21    1.0
8             9       1.0       3    0  ...        2           92         7    3.0
9            10       1.0       2    0  ...        0           18        17    2.0
10           11       1.0       3    0  ...        2           87         4    3.0
11           12       1.0       1    0  ...        2          113        15    1.0
15           16       1.0       2    0  ...        2           84         4    2.0
17           18       1.0       2    1  ...        2           17         5    2.0
19           20       1.0       3    0  ...        0           65        20    3.0

[10 rows x 14 columns]

AI Model

In [17]:
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [18]:
df3.head(2)

   PassengerId  Survived  Pclass  Sex  ...  Boarded  Destination  Lifeboat  Class
1            2       1.0       1    0  ...        0           73        11    1.0
2            3       1.0       3    0  ...        2           72         6    3.0

[2 rows x 14 columns]

In [24]:
# Splitting the data

x = df3.drop(["Survived"], axis=1)
y = df3["Survived"]

In [35]:
# Building the model layers
model = Sequential()
model.add(Dense(12, input_shape=(13,), activation="relu"))
model.add(Dense(8, activation="relu"))
model.add(Dense(1, activation="sigmoid"))

# compile model
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Fit model
model.fit(x, y, epochs=100, batch_size=10)

Epoch 1/100

c:\Users\jakeh\Documents\Computing\Titanic\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

35/35 ━━━━━━━━━━━━━━━━━━━━ 1s 546us/step - accuracy: 0.1044 - loss: 72.7287
Epoch 2/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.6878 - loss: 6.0760
Epoch 3/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9832 - loss: 0.6546
Epoch 4/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.9896 - loss: 0.4038
Epoch 5/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.9885 - loss: 0.2973
Epoch 6/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9876 - loss: 0.3714
Epoch 7/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 562us/step - accuracy: 0.9749 - loss: 0.4483
Epoch 8/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 542us/step - accuracy: 0.9812 - loss: 0.5061
Epoch 9/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.9787 - loss: 0.3513
Epoch 10/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - accuracy: 0.9817 - loss: 0.3448
Epoch 11/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.9839 - loss: 0.2283
Epoch 12/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - accuracy: 0.9767 - loss: 0.3341
Epoch 13/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9915 - loss: 0.1129
Epoch 14/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step - accuracy: 0.9806 - loss: 0.3119
Epoch 15/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.9926 - loss: 0.1541
Epoch 16/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.9919 - loss: 0.0622
Epoch 17/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.9701 - loss: 0.1884
Epoch 18/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.9874 - loss: 0.2155
Epoch 19/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - accuracy: 0.9703 - loss: 0.3261
Epoch 20/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.9756 - loss: 0.3237
Epoch 21/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - accuracy: 0.9782 - loss: 0.3786
Epoch 22/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 545us/step - accuracy: 0.9891 - loss: 0.1534
Epoch 23/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - accuracy: 0.9868 - loss: 0.1214
Epoch 24/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9794 - loss: 0.2619
Epoch 25/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 518us/step - accuracy: 0.9691 - loss: 0.2139
Epoch 26/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.9965 - loss: 0.0414
Epoch 27/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - accuracy: 0.9643 - loss: 0.1225
Epoch 28/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.9893 - loss: 0.1480
Epoch 29/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.9843 - loss: 0.1478
Epoch 30/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9922 - loss: 0.0819
Epoch 31/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - accuracy: 0.9842 - loss: 0.1553
Epoch 32/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.9837 - loss: 0.1348
Epoch 33/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.9915 - loss: 0.0834
Epoch 34/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.9715 - loss: 0.1591
Epoch 35/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.9863 - loss: 0.1241
Epoch 36/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.9900 - loss: 0.1197
Epoch 37/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.9919 - loss: 0.0750
Epoch 38/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9817 - loss: 0.1225
Epoch 39/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.9908 - loss: 0.0605
Epoch 40/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.9875 - loss: 0.1040
Epoch 41/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.9889 - loss: 0.1042
Epoch 42/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9855 - loss: 0.1036
Epoch 43/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - accuracy: 0.9909 - loss: 0.0768
Epoch 44/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 618us/step - accuracy: 0.9924 - loss: 0.0589
Epoch 45/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.9932 - loss: 0.0469
Epoch 46/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.9877 - loss: 0.1238
Epoch 47/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.9891 - loss: 0.0807
Epoch 48/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.9896 - loss: 0.0795
Epoch 49/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9937 - loss: 0.0533
Epoch 50/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.9455 - loss: 0.1674
Epoch 51/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 572us/step - accuracy: 0.9920 - loss: 0.0908
Epoch 52/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - accuracy: 0.9891 - loss: 0.0776
Epoch 53/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - accuracy: 0.9846 - loss: 0.1438
Epoch 54/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.9874 - loss: 0.0803
Epoch 55/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.9782 - loss: 0.1619
Epoch 56/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.9864 - loss: 0.0689
Epoch 57/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - accuracy: 0.9862 - loss: 0.1115
Epoch 58/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.9935 - loss: 0.0562
Epoch 59/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 540us/step - accuracy: 0.9850 - loss: 0.0930
Epoch 60/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.9918 - loss: 0.0425
Epoch 61/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.9805 - loss: 0.1433
Epoch 62/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.9851 - loss: 0.1029
Epoch 63/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9840 - loss: 0.1037
Epoch 64/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.9850 - loss: 0.1549
Epoch 65/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 571us/step - accuracy: 0.9882 - loss: 0.0977
Epoch 66/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.9982 - loss: 0.0113
Epoch 67/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.9944 - loss: 0.0756
Epoch 68/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 531us/step - accuracy: 0.9911 - loss: 0.0547
Epoch 69/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9927 - loss: 0.0521
Epoch 70/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9570 - loss: 0.1226
Epoch 71/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.9813 - loss: 0.1037
Epoch 72/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.9933 - loss: 0.0434
Epoch 73/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.9907 - loss: 0.0586
Epoch 74/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.9832 - loss: 0.0884
Epoch 75/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.9839 - loss: 0.0817
Epoch 76/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.9918 - loss: 0.0324
Epoch 77/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.9839 - loss: 0.1031
Epoch 78/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9852 - loss: 0.0734
Epoch 79/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.9793 - loss: 0.1488
Epoch 80/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.9920 - loss: 0.0316
Epoch 81/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9865 - loss: 0.0674
Epoch 82/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.9837 - loss: 0.0667
Epoch 83/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - accuracy: 0.9833 - loss: 0.0874
Epoch 84/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.9926 - loss: 0.0471
Epoch 85/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.9910 - loss: 0.0939
Epoch 86/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.9847 - loss: 0.0568
Epoch 87/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step - accuracy: 0.9921 - loss: 0.0343
Epoch 88/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - accuracy: 0.9952 - loss: 0.0496
Epoch 89/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.9917 - loss: 0.0467
Epoch 90/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9775 - loss: 0.0676
Epoch 91/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - accuracy: 0.9932 - loss: 0.0361
Epoch 92/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step - accuracy: 0.9946 - loss: 0.0295
Epoch 93/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - accuracy: 0.9863 - loss: 0.0801
Epoch 94/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - accuracy: 0.9850 - loss: 0.0586
Epoch 95/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - accuracy: 0.9842 - loss: 0.1249
Epoch 96/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.9911 - loss: 0.1299
Epoch 97/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.9815 - loss: 0.0617
Epoch 98/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.9960 - loss: 0.0243
Epoch 99/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.9883 - loss: 0.1191
Epoch 100/100
35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.9899 - loss: 0.0622

In [36]:
# Evaluting the model
_, accuracy = model.evaluate(x, y)
print('Accuracy: %.2f' % (accuracy*100))

11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.9915 - loss: 0.0546
Accuracy: 98.83